h1.titulo {
    color: white; 
    text-align: center;
    padding-top: 10px;
}
p.info {
    color: black;
    text-align: justify;
}
.verdana {
    font-family: cursive;
}
article.ref {
    background-color: black; 
}
section.ref {
    background-color: grey;
}